
mixin product(item, products)
  each product in products
    if (item.refProduct === product.id)
      span(id=`${product.id}`)
        strong
          | #{product.name}

        | &nbsp; @ #{product.price /100} &euro; each
        | - #{item.shelfCount} in stock
        |
      br

      form(action=`/app/inventory/${item.id}` method="POST")
        input(type="submit" value=`Buy ${product.name}` class="button")